*.pyc
.DS_Store
*.o
*.so
*.db
*.swp
*~
\#*#
.#*
.venv
venv
MANIFEST
MeCab.py
MeCab_wrap.c*
__pycache__/
*.egg-info/
.eggs/
.pybuild/
.tox/
build/
dist/
debian/.debhelper
debian/debhelper-build-stamp
debian/files
debian/python-mecab.*
debian/python-mecab/
debian/python3-mecab.*
debian/python3-mecab/
