dist: xenial
language: python

addons:
  apt:
    packages:
     - libmecab-dev
     - mecab-ipadic-utf8
     - swig

python:
 - "2.7"
 - "3.4"
 - "3.5"
 - "3.6"
 - "3.7"

install:
 - python setup.py install

script:
 - python test.py
