include *.md *.html
include AUTHORS BSD GPL LGPL COPYING
include MANIFEST.in
include tox.ini
include scripts/*.py
include test/*.py
recursive-include .eggs *
recursive-exclude .eggs *.pyc *.pyo *.so *.dll
