name: Build OSX wheels

on: [push]

jobs:
  build_osx:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up python
      uses: actions/setup-python@v5
      with:
        python-version: |
          3.8
          3.9
          3.10
          3.11
          3.12
          3.13
    - name: Download and build MeCab
      shell: bash
      run: |
        .github/macos-build.sh
    - name: Upload Wheels
      uses: actions/upload-artifact@v4
      with: 
        name: osx-wheels
        path: dist
    - name: Publish to PyPI if tagged
      if: startsWith(github.ref, 'refs/tags') && github.repository_owner == 'polm'
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
      run: |
        pip install twine
        twine upload dist/mecab*whl

